extends ../layouts/default

block content
	.container
		img(src='/images/logos.png')
		p
			Please visit us at our #[a(href='https://www.meetup.com/de-DE/SparkMaker-io/'')Meetup ] or #[a(href='https://www.facebook.com/sparkmaker.io/')Facebook] page! We hope to meet you soon.